body {
    background-color: lightgrey;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
    padding: 20px;
    align-items: center;
    height: 25%;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
}

form input,
form button {
    margin: 10px;
}